*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/app/public/biblioteca/
/storage/app/public/personalizacao/
/storage/app/private/*
/storage/storage/inscricoes
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/testing/
/templates/
/templates-build/
/vendor
/backup/
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
